  mat-toolbar {
    background: #004a9f;
    padding: 10px;
  }
  h1{
    color: white;
  }
  .example-spacer{
    flex: 1 1 auto;
    }
  .active{
    background-color: black;
  }

  mat-sidenav {
    margin: 16px;
    width: 200px;
    background: #002b5c;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
   
    border-radius: 10px;
    margin: 16px;
    /* margin-left: 32px; */
    padding: 16px;
    overflow: auto;
  }
  mat-icon{
      color: white;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  h1{
      text-align: center;
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  span{
      color: white;
      padding-left: 5px;
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .raised-button{
    position: fixed !important;
    right: 15px;

  }


