<h2 mat-dialog-title>New Ticket</h2>
<form [formGroup]="Tickets" (ngSubmit)="onEdit()">
    <div class="form-container">
      <mat-form-field>
        <textarea type="text" autocomplete="off" matInput placeholder="Subject" ngModel #subject name="subject" formControlName="subject" [(ngModel)]="edit_card.subject"  required></textarea>
        <mat-error *ngIf="subject.required">You must enter the subject</mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <textarea type="text" matInput placeholder="Description" class="text-area" #count maxlength="400" ngModel name="description" formControlName="description" [(ngModel)]="edit_card.description"required></textarea>
        <mat-hint align="end">{{count.value.length || 0}}/400 characters</mat-hint>
      </mat-form-field>
      <h3>Environment</h3>
      <mat-radio-group ngModel name="environment"  formControlName="environment" [(ngModel)]="edit_card.environment" required>
        <mat-radio-button value="QA" color="primary">QA</mat-radio-button>
        <mat-radio-button value="Production" color="primary">Production</mat-radio-button>
        <mat-radio-button value="Dev" color="primary">Dev</mat-radio-button>
      </mat-radio-group>
      <h3>Severity Level</h3>
      
      <mat-select ngModel name="severity" formControlName="severity" [(ngModel)]="edit_card.severity" required>
        <mat-option value="High">High</mat-option>
        <mat-option value="Medium">Medium</mat-option>
        <mat-option value="Low">Low</mat-option>
      </mat-select>

      <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="Tickets.status==='INVALID'">Submit</button>
      <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
  
    </div>
</form>

